
*{
    background: #e5e5e5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoAlura{
    margin-left: 0.625rem;
    padding-top: 0.625rem;
    width: 2%;
}


.cabecalho{
    padding: 2% 0% 0% 4%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.LogoAlura {
    margin-right: 1.25rem; /* Adiciona 20px de margem à direita do logo */
  }


main{
    display: flex;
    margin-bottom: 3rem;
    margin-left: 4rem;
}

.textArea{
    border: none;
    color: #0A3871;
    margin-top: 5.625rem;   
    text-transform: lowercase;
}

::placeholder{ color: #0A3871;}
    .textArea:focus{
        outline: none;
    }

.mensagem{
    background: white;
    background-image: url(/imagens/criptografia.jpg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 1.5rem;
    color: #0A3871;
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
}
.mensagem:focus{
    outline: none;
}

.botoes{ 
    display: flex;
    margin-top: 17px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
}

.rodape{
    margin-top: 6rem;
    color: black;
    background-color: #0A3871;
    padding: 1rem;
    text-align: center;

}

